.containers {
  height: calc(100vh - 100px);
  position: relative;
  background: white;
  overflow: auto;
  background-image: linear-gradient(
      90deg,
      rgba(220, 220, 220, 50%) 6%,
      transparent 0
    ),
    linear-gradient(rgba(192, 192, 192, 50%) 6%, transparent 0);
  background-size: 24px 24px;
  width: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0%);
}
